@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 32px;
  color: var(--main-title-color);
}

h2 {
  color: var(--main-title-color);
  font-size: 20px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
}

.bold, h1, h2, h3 {
  font-weight: 600;
}

.no-bold {
  font-weight: 300;
}
