:root {
  /* Collors */
  --main-color: #7d28f7;
  --main-color-hover: #8638e5;
  --main-color-pressed: #8638e5;

  --main-secondary-color: #343A40;

  --main-third-color: #E5E5E5;

  --main-white-color : #FFFFFF;

  --main-footer-text-color: #FFFFFF;

  --main-title-color: #444444;


  --main-whatsapp-bg-color: #4AC959;
  --main-whatsapp-bg-color-hover: #67d774;


  /* texts */
  --main-text-normal-size: 14px;
}
