:root {
  /* Collors */
  --main-color: #7d28f7;
  --main-color-hover: #8638e5;
  --main-color-pressed: #8638e5;

  --main-secondary-color: #343a40;

  --main-footer-text-color: #FFFFFF;

  --main-title-color: #444444;


  --main-whatsapp-bg-color: #4AC959;


  /* texts */
  --main-text-normal-size: 14px;
}
