<footer class="col-12 justify-content-center">
  <div class="row col-12">
    <div class="col-12 col-md-2 d-none d-md-block">
      <app-main-template-footer-section>
        <div title>
         <app-main-template-footer-section-title title="Encontre seu veículo"></app-main-template-footer-section-title>
        </div>
        <div links>
          <app-main-template-footer-section-link text="Encontre seu veículo" link="#"></app-main-template-footer-section-link>
          <app-main-template-footer-section-link text="Lojas" link="#"></app-main-template-footer-section-link>
          <app-main-template-footer-section-link text="Promoções" link="#"></app-main-template-footer-section-link>
          <app-main-template-footer-section-link text="Vantagens" link="#"></app-main-template-footer-section-link>
          <app-main-template-footer-section-link text="Garantia Mais" link="#"></app-main-template-footer-section-link>
        </div>
      </app-main-template-footer-section>
    </div>
    <div class="col-12 col-md-2 d-none d-md-block">
      <app-main-template-footer-section>
        <div title>
          <app-main-template-footer-section-title title="A Empresa"></app-main-template-footer-section-title>
        </div>
        <div links>
          <app-main-template-footer-section-link text="Sobre" link="#"></app-main-template-footer-section-link>
          <app-main-template-footer-section-link text="Delivery" link="#"></app-main-template-footer-section-link>
          <app-main-template-footer-section-link text="Aviso de Privacidade" link="#"></app-main-template-footer-section-link>
          <app-main-template-footer-section-link text="Blog Seminovos" link="#"></app-main-template-footer-section-link>
        </div>
      </app-main-template-footer-section>
    </div>
    <div class="col-12 col-md-2 d-none d-md-block">
      <app-main-template-footer-section>
        <div title>
          <app-main-template-footer-section-title title="Atendimento"></app-main-template-footer-section-title>
        </div>
        <div links>
          <app-main-template-footer-section-link text="Perguntas Frequentes" link="#"></app-main-template-footer-section-link>
          <app-main-template-footer-section-link text="Fale Conosco" link="#"></app-main-template-footer-section-link>
          <app-main-template-footer-section-link text="Pós-vendas" link="#"></app-main-template-footer-section-link>
        </div>
      </app-main-template-footer-section>
    </div>
    <div class="col-12 col-md-2 d-none d-md-block">
      <app-main-template-footer-section>
        <div title>
          <app-main-template-footer-section-title title="Lojistas"></app-main-template-footer-section-title>
        </div>
        <div links>
          <app-main-template-footer-section-link text="Acesse Seminovos Atacado" link="#"></app-main-template-footer-section-link>
        </div>
      </app-main-template-footer-section>
    </div>
    <div class="col-12 col-md-2 d-none d-md-block">
      <app-main-template-footer-section>
        <div title>
          <app-main-template-footer-section-title [noBold]="true" title="Atendimento ao cliente"></app-main-template-footer-section-title>
        </div>
        <div links>
          <app-main-template-footer-section-talk-with-us></app-main-template-footer-section-talk-with-us>
        </div>
      </app-main-template-footer-section>
    </div>
    <div class="col-12 col-md-2 text-center">
      <app-main-template-footer-section>
        <div title>
          <app-main-template-footer-section-title title="Siga a gente"></app-main-template-footer-section-title>
        </div>
        <div links class="flex justify-content-center">
            <app-main-template-footer-section-social-icon [icon]="faFacebookF"></app-main-template-footer-section-social-icon>
            <app-main-template-footer-section-social-icon [icon]="faInstagram"></app-main-template-footer-section-social-icon>
            <app-main-template-footer-section-social-icon [icon]="faTwitter"></app-main-template-footer-section-social-icon>
            <app-main-template-footer-section-social-icon [icon]="faLinkedinIn"></app-main-template-footer-section-social-icon>
        </div>
      </app-main-template-footer-section>
    </div>
    <div class="col-12 col-md-2 d-block d-md-none text-center">
      <app-main-template-footer-section>
        <div title>
          <app-main-template-footer-section-title [noBold]="true" title="Fale com a gente"></app-main-template-footer-section-title>
        </div>
        <div links>
          <app-main-template-footer-section-talk-with-us></app-main-template-footer-section-talk-with-us>
        </div>
      </app-main-template-footer-section>
    </div>
  </div>
</footer>
